@page "/"
@using BlazorApp.Shared
@inject HttpClient HttpClient

<h1>Start Page</h1>

<button @onclick="Test">Test post-function</button>

@code{
    
    private async Task Test()
    {
        var vote = new NewVote
        {
            VoteId = "1",
            Timestamp = DateTimeOffset.UtcNow,
            Vote = "yes"
        };

        await HttpClient.PostAsJsonAsync("api/PostVoting", vote); 
    }
}